body {
    background-color: gray;
}

.App {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    border: 1px solid;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    min-width: 100px;
    height: 30px;
}